langchain_community
langchain-huggingface
langchain-core
sentence-transformers
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_openai
langchain_experimental
-e .
gunicorn
