langchain-community==0.0.1
langchain-huggingface==0.1.0
langchain-core==0.3.0
sentence-transformers==2.2.2
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_openai
langchain_experimental
-e .
gunicorn
